<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="static/images/icons/iris_petal_sepal.png"/>
    <title>Prédiction des Iris</title>
  </head>
  <body>
    <div class="container">
		<br>
		<br>
		<div class="row">
			<div class="offset-lg-4">
				<h3>Prédiction de la catégorie d'un Iris</h3>
				<br>
				<img src="static/images/iris_petal_sepal.png" class="img-fluid" alt="Iris_petal_sepal" height="200" width="200">
			</div>
		</div> 
		<div class="row">
			<div class="offset-lg-2 col-lg-2">
				<form  action="{{url_for('predict')}}" method="post" class="needs-validation" novalidate>
					<div class="form-group">
						<label>Longueur Pétale</label>
						<input type="text" class="form-control" name="long_petale" required="required">
					</div>
					<div class="form-group">
						<label>Largeur Pétale</label>
						<input type="text" class="form-control" name="larg_petale" required="required">
					</div>
					<div class="form-group">
						<label>Longueur Sépale</label>
						<input type="text" class="form-control" name="long_sepale" required="required">
					</div>
					<div class="form-group">
						<label>Largeur Sépale</label>
						<input type="text" class="form-control" name="larg_sepale" required="required">						
					</div>					
					<button type="submit" class="btn btn-primary btn-block btn-large">Prédire</button>
				</form>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">
				<h3>Informations saisies :</h4>
				<p>Longueur Pétale : {{long_petale}}</p>
				<p>Largeur Pétale : {{larg_petale}}</p>
				<p>Longueur Sépale : {{long_sepale}}</p>
				<p>Largeur Sépale : {{larg_sepale}}</p>
				<div class="alert alert-primary" role="alert">
					{% for pred in prediction %}
					<p>{{pred}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.getElementsByClassName('needs-validation');
		// Loop over them and prevent submission
		var validation = Array.prototype.filter.call(forms, function(form) {
		  form.addEventListener('submit', function(event) {
			if (form.checkValidity() === false) {
			  event.preventDefault();
			  event.stopPropagation();
			}
			form.classList.add('was-validated');
		  }, false);
		});
	  }, false);
	})();
	</script>
  </body>
</html>